@font-face { 
  font-family: 'Crystal'; 
  font-style: normal;
  font-weight: normal; 
  src: url('../fonts/crystal-webfont.ttf') format('truetype'); 
}

@font-face { 
  font-family: 'FreeMono'; 
  font-style: normal;
  font-weight: normal; 
  src: url('../fonts/FreeMono.ttf') format('truetype'); 
}

