/*@font-face { 
  font-family: 'Crystal'; 
  font-style: normal;
  font-weight: normal; 
  src: url('../fonts/crystal-webfont.ttf') format('truetype'); 
}

@font-face { 
  font-family: 'FreeMono'; 
  font-style: normal;
  font-weight: normal; 
  src: url('../fonts/FreeMono.ttf') format('truetype'); 
}*/

@import url(http://fonts.googleapis.com/css?family=Dosis|Arvo|Codystar|Michroma|Belgrano|Kelly+Slab|Rationale|Tulpen+One|Geostar+Fill|Quantico|Bangers|Pontano+Sans|Orbitron|Oswald|Wallpoet|Audiowide|Geo);