@font-face { 
  font-family: 'Crystal'; 
  font-style: normal;
  font-weight: normal; 
  src: url('../fonts/crystal-webfont.ttf') format('truetype'); 
}

@font-face { 
  font-family: 'FreeMono'; 
  font-style: normal;
  font-weight: normal; 
  src: url('../fonts/FreeMono.ttf') format('truetype'); 
}

/*#stopwatch {*/
/*  color: #098cd9;*/
/*  font-size: 36px;*/
/*  font-family: 'Crystal', sans, serif;*/
/*  letter-spacing: 2px;*/
/*  text-shadow: 0px 0px 2px #098cd9;*/
/*}*/

html {
  font-family: FreeMono;
  font-size: 20px;
}

body {
  background-image: url('/images/bg.png');
}

#stopwatch_container {
  width: 500px;
  margin: 100px auto 0 auto;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
  background: #151515;
  padding: 3px;
  font-weight: bold;
}

#stopwatch {
  font-size: 50px;
}
 
span.stopwatch-colon {
  position: relative;
  top: -5px;
}








