body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  color: #6E6F6F;
  background: #e5e5e5;
}

#stopwatch_container {
  width: 400px;
  margin: 0 auto 0 auto;
  position: relative;
  top: 100px;
  text-align: center;
}

#timer {
  font-size: 100px;
  padding-bottom: 50px;
}

.button {
  color: orange;
  text-decoration: none;
  padding: 0.5em;
  font-size: 1.5em;
  text-shadow: #D67C00 0 0 0;
}